<div class="row align-items-center">
  <h2 class="mb-5 text-center">Proyecto toDo List</h2>
  <div class="col-6 d-flex gap-5 mb-3">
    <input
      type="text"
      placeholder="new task"
      [(ngModel)]="input_value"
      (keyup.enter)="addTask()"
    />

    <select [(ngModel)]="selected_option" (ngModelChange)="filteredTasks()">
      <option value="all">All</option>
      <option value="finished">Finished</option>
      <option value="unfinished">Unfinished</option>
    </select>
  </div>
</div>
<ul class="col-6 fw-bolder mt-5 fs-5">
  <li *ngFor="let task of todoFiltered" class="mb-3">
    <span
      [ngClass]="
        task.finished
          ? 'text-success text-decoration-line-through'
          : 'bg-text-bg-primary'
      "
    >
      <small class="text-muted"> {{ task.date | date : "dd/MM/yyyy" }}</small>
      {{ task.text }}
    </span>
    <button
      class="btn btn-danger me-3"
      (click)="deleteTask(task.id!)"
      [disabled]="task.finished"
    >
      Delete
    </button>
    <button class="btn btn-success" (click)="finishTask(task)">Finish</button>
  </li>
</ul>
